name: release

on:
  push:
    tags: [ v* ]
  workflow_dispatch:

permissions:
  contents: read

env:
  NUGET_PACKAGES: ${{ github.workspace }}/packages
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

jobs:
  build-container:
    uses: ./.github/workflows/build-container.yml

  build-ubuntu1604-native:
    uses: ./.github/workflows/build-ubuntu1604-native-container.yml

  build:
    needs: build-ubuntu1604-native
    uses: ./.github/workflows/build.yml

  build-nuget-packages:
    needs: [ build, build-container ]
    uses: ./.github/workflows/build-nuget-packages.yml

  create-release:
    name: Create GH release
    runs-on: ubuntu-22.04
    needs: [ build, build-container, build-nuget-packages ]
    permissions:
      contents: write
    timeout-minutes: 10
    steps:

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1

      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # tag: v7.0.0
        with:
          path: .

      - name: Install zip
        uses: montudor/action-zip@0852c26906e00f8a315c704958823928d8018b28 # tag: v1.0.0

      - run: cd bin-alpine-x64 ; zip -qq -r ../opentelemetry-dotnet-instrumentation-linux-musl-x64.zip . * ; cd .. ; rm bin-alpine-x64 -rf
      - run: cd bin-alpine-arm64 ; zip -qq -r ../opentelemetry-dotnet-instrumentation-linux-musl-arm64.zip . * ; cd .. rm bin-alpine-arm64 -rf
      - run: cd bin-ubuntu-22.04 ; zip -qq -r ../opentelemetry-dotnet-instrumentation-linux-glibc-x64.zip . * ; cd .. bin-ubuntu-22.04 -rf
      - run: cd bin-ubuntu-22.04-arm ; zip -qq -r ../opentelemetry-dotnet-instrumentation-linux-glibc-arm64.zip . * ; cd .. bin-ubuntu-22.04-arm -rf
      - run: cd bin-windows-2022 ; zip -qq -r ../opentelemetry-dotnet-instrumentation-windows.zip . * ; cd .. bin-windows-2022 -rf
      - run: cd bin-macos-14 ; zip -qq -r ../opentelemetry-dotnet-instrumentation-macos.zip . * ; cd .. bin-macos-14 -rf
      - run: cd bin-nuget-packages ; zip -qq -r ../opentelemetry-dotnet-instrumentation-nuget-packages.zip . * ; cd .. rm bin-nuget-packages -rf
      - run: cp installation-scripts-windows-2022/otel-dotnet-auto-install.sh ./otel-dotnet-auto-install.sh
      - run: cp installation-scripts-windows-2022/OpenTelemetry.DotNet.Auto.psm1 ./OpenTelemetry.DotNet.Auto.psm1; rm installation-scripts-windows-2022 -rf

      - name: Generate checksums
        shell: bash
        run: |
          find "." -type f -name '*' | while read -r fname; do
            echo "Generating checksum for ${fname}"
            base_name="$(basename "${fname}")"
            sha256sum "${base_name}" >> "./checksums.txt"
          done
          echo "Verifying checksums"
          sha256sum "./checksums.txt" --check || exit 1

      - name: Attest artifacts
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-path: |
            ./*.zip
            ./otel-dotnet-auto-install.sh
            ./OpenTelemetry.DotNet.Auto.psm1
            ./checksums.txt

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create "${GITHUB_REF_NAME}" --title "${GITHUB_REF_NAME}" --verify-tag --draft
          ./*.zip
          ./otel-dotnet-auto-install.sh
          ./OpenTelemetry.DotNet.Auto.psm1
          ./checksums.txt
